{{#partial  "title"}}
    Teams
{{/partial}}




{{#partial "content"}}
    {{> navBar.hbs}}
    <div class="banner jumbotron h-50">
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="heroes">

        <h2>All Hero Squads</h2>
        <div class="row">


            {{#if allTeams }}
                {{#each allTeams }}
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-green order-card">
                            <div class="card-block">
                                <p class="m-b-0">Cause: <span class="f-right">{{ maxMembers }}</span></p>
                                <h2 class="text-right"><span>{{ name }}</span></h2>
                                <p class="m-b-0">Max Members: <span class="f-right">{{ cause }}</span></p>
                            </div>
                            <a href="/new/{{id}}">See Heroes</a>

                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="alert alert-danger" role="alert">
                    No Heroes Created!!
                    Visit The  <a href="/" class="alert-link">HomePage</a> to Create One!
                </div>

            {{/if}}




        </div>
    </div>



{{/partial}}

<style>
  .banner {
    width: 90%;
    margin: 10px auto;
    border-radius: 24px;
    background-image: url(https://wallpaperaccess.com/full/1158056.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
        .order-card {
    color: #fff;
}
  .heroes {
    width: 90%;
    margin: auto;
    };
.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}
.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6, #06050a);
}
.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}
.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card .card-block {
    padding: 25px;
}
.order-card i {
    font-size: 26px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
    </style>


{{> layout.hbs}}
